# Summary Your Data

In [4]:
# Describing your data
import pandas as pd
data = pd.read_csv("Dataset/Data_countries.csv")
data.describe()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,area,landAreaKm,netChange,growthRate,worldPercentage,density,densityMi,rank
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,226.000000,234.000000,228.000000,234.000000,234.000000,234.000000
mean,439.085470,1.898462e+07,2.626947e+07,2.984524e+07,3.407441e+07,3.437442e+07,3.651461e+07,4.148628e+07,5.814500e+05,5.571123e+05,0.010306,0.009737,0.004407,451.288182,1168.836388,117.500000
std,253.295484,8.178519e+07,1.116982e+08,1.242185e+08,1.367664e+08,1.373864e+08,1.417827e+08,1.481676e+08,1.761841e+06,1.689972e+06,0.034774,0.012350,0.017375,1979.362419,5126.548664,67.694165
min,4.000000,7.330000e+02,6.510000e+02,5.960000e+02,5.100000e+02,5.180000e+02,5.610000e+02,7.310000e+02,4.400000e-01,4.400000e-01,-0.028600,-0.074500,0.000000,0.138000,0.357400,1.000000
25%,223.000000,2.296142e+05,3.272420e+05,3.931490e+05,4.197385e+05,4.225982e+05,4.561490e+05,5.466058e+05,2.650000e+03,2.625875e+03,0.000000,0.002325,0.000100,39.747650,102.946450,59.250000
50%,439.000000,3.141146e+06,4.292907e+06,4.942770e+06,5.559944e+06,5.643895e+06,6.178231e+06,6.352397e+06,8.119950e+04,7.568925e+04,0.000900,0.008200,0.000750,97.481000,252.475800,117.500000
75%,659.750000,9.826054e+06,1.576230e+07,1.915957e+07,2.247650e+07,2.324537e+07,2.616311e+07,3.568614e+07,4.304258e+05,4.047876e+05,0.008000,0.016850,0.002925,242.928650,629.185350,175.750000
max,894.000000,9.823725e+08,1.264099e+09,1.348191e+09,1.425887e+09,1.428628e+09,1.514994e+09,1.670491e+09,1.709824e+07,1.637687e+07,0.418400,0.049800,0.178500,21402.705200,55433.006400,234.000000

In [6]:
# Describing your numerical data
print("Here is the forecast of the world population in 2050")
data.pop2050.describe()

Here is the forecast of the world population in 2050

count    2.340000e+02
mean     4.148628e+07
std      1.481676e+08
min      7.310000e+02
25%      5.466058e+05
50%      6.352397e+06
75%      3.568614e+07
max      1.670491e+09
Name: pop2050, dtype: float64

In [7]:
# Describing your text data
print("Hm... what is our country coloumn looks like?")
data.country.describe()

Hm... what is our country coloumn looks like?

count       234
unique      234
top       India
freq          1
Name: country, dtype: object

In [15]:
# Other specific functions
print("The mean of population in 2022 is {}".format(data.pop2022.mean()))
print("There is the unique country we got {}".format(data.country.unique()))
print("Total of the country is {} countries".format(data.country.count()))

The mean of population in 2022 is 34074414.713675216
There is the unique country we got ['India' 'China' 'United States' 'Indonesia' 'Pakistan' 'Nigeria' 'Brazil'
 'Bangladesh' 'Russia' 'Mexico' 'Ethiopia' 'Japan' 'Philippines' 'Egypt'
 'DR Congo' 'Vietnam' 'Iran' 'Turkey' 'Germany' 'Thailand'
 'United Kingdom' 'Tanzania' 'France' 'South Africa' 'Italy' 'Kenya'
 'Myanmar' 'Colombia' 'South Korea' 'Uganda' 'Sudan' 'Spain' 'Argentina'
 'Algeria' 'Iraq' 'Afghanistan' 'Poland' 'Canada' 'Morocco' 'Saudi Arabia'
 'Ukraine' 'Angola' 'Uzbekistan' 'Yemen' 'Peru' 'Malaysia' 'Ghana'
 'Mozambique' 'Nepal' 'Madagascar' 'Ivory Coast' 'Venezuela' 'Cameroon'
 'Niger' 'Australia' 'North Korea' 'Taiwan' 'Mali' 'Burkina Faso' 'Syria'
 'Sri Lanka' 'Malawi' 'Zambia' 'Romania' 'Chile' 'Kazakhstan' 'Chad'
 'Ecuador' 'Somalia' 'Guatemala' 'Senegal' 'Netherlands' 'Cambodia'
 'Zimbabwe' 'Guinea' 'Rwanda' 'Benin' 'Burundi' 'Tunisia' 'Bolivia'
 'Haiti' 'Belgium' 'Jordan' 'Dominican Republic' 'Cuba' 'South Sudan'
 'Sweden' 'Honduras' 'Czech Republic' 'Azerbaijan' 'Greece'
 'Papua New Guinea' 'Portugal' 'Hungary' 'Tajikistan'
 'United Arab Emirates' 'Belarus' 'Israel' 'Togo' 'Austria' 'Switzerland'
 'Sierra Leone' 'Laos' 'Hong Kong' 'Serbia' 'Nicaragua' 'Libya' 'Paraguay'
 'Kyrgyzstan' 'Bulgaria' 'Turkmenistan' 'El Salvador'
 'Republic of the Congo' 'Singapore' 'Denmark' 'Slovakia'
 'Central African Republic' 'Finland' 'Norway' 'Liberia' 'Palestine'
 'Lebanon' 'New Zealand' 'Costa Rica' 'Ireland' 'Mauritania' 'Oman'
 'Panama' 'Kuwait' 'Croatia' 'Eritrea' 'Georgia' 'Mongolia' 'Moldova'
 'Uruguay' 'Puerto Rico' 'Bosnia and Herzegovina' 'Albania' 'Jamaica'
 'Armenia' 'Gambia' 'Lithuania' 'Qatar' 'Botswana' 'Namibia' 'Gabon'
 'Lesotho' 'Guinea-Bissau' 'Slovenia' 'North Macedonia' 'Latvia'
 'Equatorial Guinea' 'Trinidad and Tobago' 'Bahrain' 'Timor-Leste'
 'Estonia' 'Mauritius' 'Cyprus' 'Eswatini' 'Djibouti' 'Reunion' 'Fiji'
 'Comoros' 'Guyana' 'Bhutan' 'Solomon Islands' 'Macau' 'Luxembourg'
 'Montenegro' 'Suriname' 'Cape Verde' 'Western Sahara' 'Malta' 'Maldives'
 'Brunei' 'Bahamas' 'Belize' 'Guadeloupe' 'Iceland' 'Martinique' 'Mayotte'
 'Vanuatu' 'French Guiana' 'French Polynesia' 'New Caledonia' 'Barbados'
 'Sao Tome and Principe' 'Samoa' 'Curacao' 'Saint Lucia' 'Guam' 'Kiribati'
 'Grenada' 'Micronesia' 'Jersey' 'Tonga' 'Seychelles' 'Aruba'
 'Saint Vincent and the Grenadines' 'United States Virgin Islands'
 'Antigua and Barbuda' 'Isle of Man' 'Andorra' 'Dominica' 'Cayman Islands'
 'Bermuda' 'Guernsey' 'Greenland' 'Faroe Islands'
 'Northern Mariana Islands' 'Saint Kitts and Nevis'
 'Turks and Caicos Islands' 'Sint Maarten' 'American Samoa'
 'Marshall Islands' 'Liechtenstein' 'Monaco' 'San Marino' 'Gibraltar'
 'Saint Martin' 'British Virgin Islands' 'Palau' 'Cook Islands' 'Anguilla'
 'Nauru' 'Wallis and Futuna' 'Tuvalu' 'Saint Barthelemy'
 'Saint Pierre and Miquelon' 'Montserrat' 'Falkland Islands' 'Niue'
 'Tokelau' 'Vatican City']
Total of the country is 234 countries

# Map

In [17]:
# Using map() to transform our data

# Let's say we want to make a new column called difference_2022_2023 with its value is population in 2022 minus population in 2023
data["difference_2022_2023"] = data.pop2022.map(lambda p : p - data.pop2023 )
data.difference_2022_2023

0      0     -1.145449e+07
1     -8.498179e+06
2     ...
1      0     -2.740326e+06
1      2.159850e+05
2     ...
2      0     -1.090338e+09
1     -1.087381e+09
2     ...
3      0     -1.153126e+09
1     -1.150170e+09
2     ...
4      0     -1.192803e+09
1     -1.189846e+09
2     ...
                             ...
229    0     -1.428623e+09
1     -1.425667e+09
2     ...
230    0     -1.428624e+09
1     -1.425668e+09
2     ...
231    0     -1.428626e+09
1     -1.425669e+09
2     ...
232    0     -1.428626e+09
1     -1.425669e+09
2     ...
233    0     -1.428627e+09
1     -1.425671e+09
2     ...
Name: difference_2022_2023, Length: 234, dtype: object

In [32]:
# Using apply() to transform our data
def pop_2050_1980(data) :
    data.pop_2050_1980 = data.pop2050 - data.pop1980
    return data

# we will make a column again named pop_2050_1980 which indicated how much the difference between population in 2050 with 1980
data["pop_2050_1980"] = pd.Series([0 for i in range(len(data))])
data.apply(pop_2050_1980, axis="columns")

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,...,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank,difference_2022_2023,pop_2050_1980
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.00,...,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1,0 -1.145449e+07 1 -8.498179e+06 2 ...,973662211.0
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.00,...,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2,0 -2.740326e+06 1 2.159850e+05 2 ...,330263859.0
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.00,...,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3,0 -1.090338e+09 1 -1.087381e+09 2 ...,152251945.0
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.00,...,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4,0 -1.153126e+09 1 -1.150170e+09 2 ...,169048117.0
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.00,...,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5,0 -1.192803e+09 1 -1.189846e+09 2 ...,287184411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,500,11452.0,5.138000e+03,4.938000e+03,4.390000e+03,4.386000e+03,4.301000e+03,3.781000e+03,Montserrat,102.00,...,MS,MSR,NaN,-0.0009,NaN,43.0000,111.3700,230,0 -1.428623e+09 1 -1.425667e+09 2 ...,-7671.0
230,238,2240.0,3.080000e+03,3.187000e+03,3.780000e+03,3.791000e+03,3.869000e+03,3.779000e+03,Falkland Islands,12173.00,...,FK,FLK,NaN,0.0029,NaN,0.3114,0.8066,231,0 -1.428624e+09 1 -1.425668e+09 2 ...,1539.0
231,570,3637.0,2.074000e+03,1.812000e+03,1.934000e+03,1.935000e+03,1.948000e+03,2.096000e+03,Niue,261.00,...,NU,NIU,0.0000,0.0005,NaN,7.4138,19.2017,232,0 -1.428626e+09 1 -1.425669e+09 2 ...,-1541.0
232,772,1647.0,1.666000e+03,1.367000e+03,1.871000e+03,1.893000e+03,2.046000e+03,2.430000e+03,Tokelau,12.00,...,TK,TKL,NaN,0.0118,NaN,189.3000,490.2870,233,0 -1.428626e+09 1 -1.425669e+09 2 ...,783.0
233,336,733.0,6.510000e+02,5.960000e+02,5.100000e+02,5.180000e+02,5.610000e+02,7.310000e+02,Vatican City,0.44,...,VA,VAT,NaN,0.0157,NaN,1177.2727,3049.1364,234,0 -1.428627e+09 1 -1.425671e+09 2 ...,-2.0

# Built-ins Mapping Operations

In [36]:
# Adding numerical data with another numerical data
data["pop2010_plus_pop2000"] = data.pop2010 + data.pop2000
data.pop2010_plus_pop2000

0      2.300247e+09
1      2.612290e+09
2      5.935814e+08
3      4.580886e+08
4      3.488244e+08
           ...
229    1.007600e+04
230    6.267000e+03
231    3.886000e+03
232    3.033000e+03
233    1.247000e+03
Name: pop2010_plus_pop2000, Length: 234, dtype: float64

In [37]:
# Adding string type data with another string type data
data.cca2 + data.cca3

0      ININD
1      CNCHN
2      USUSA
3      IDIDN
4      PKPAK
       ...
229    MSMSR
230    FKFLK
231    NUNIU
232    TKTKL
233    VAVAT
Length: 234, dtype: object

In [66]:
'''
We can also use another operators such as -,>,<,=,|, and other operator that does exist in Python
'''

'\nWe can also use another operators such as -,>,<,=,|, and other operator that does exist in Python\n'

Coded by Maulana Zulfikar Aziz